<section id="home">
  <div class="container-fluid">
    <div class="row login">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="panelpanel-defaultcreate">        

          <div align="center">
            <%= render 'shared/flash' %>
          </div>
          <h2 class='login_title text-center'>Axios Log In</h2>
          <!-- <a href="/"><%= image_tag "favicon.png", :class => "authLogo" %></a> -->
            <!-- <h5 class="authMsg">Please register your details and as soon we are live we will let you know</h5> -->
          
          <%= form_for @identity, url: '/auth/identity/callback', method: :post, html: { class: 'form-signin' } do |f| %>
            <span id="reauth-email" class="reauth-email"></span>
            <p class="input_title">E-mail Address</p>
            <%= f.text_field :email, name: 'auth_key', autofocus: 'true', class: 'form-control', id: "inputEmail", required: true, placeholder: t('simple_form.placeholders.session.email') %>
            <p class="input_title">Password</p>
            <%= f.password_field :password, name: 'password', class: 'form-control', id: "inputPassword", required: true, placeholder: '******' %>
            <p style="color: red;" class="hide" id="customError">Enter the email and password</p>
            <button type="button" class="btn btn-theme-primary w-100 mt-3" data-toggle="modal" id="signInBtn">Log In</button>
         <% end %>
          <div class="login-btm">
          <p><a class="" href="<%= new_reset_password_path %>">
            Forgot Your Password?
            </a>
          </p>
          <div class="">
            <p>Don't have an account? <a href="<%= signup_path %>">Register</a></p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
 
  
  
</section>
<div id="myModallogin" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    
      
        <div class="container-fluid">
        <div class="form-row m-0">
            <div class="col-12">
                <div class="slidercaptcha card modal-contentlogin">
                    <div class="card-header  ">
                        <span>Captcha Verification!</span>
                          <button type="button" class="close btn-close-custom" data-dismiss="modal">&times;</button>
                        
                    </div>
                    <div class="card-body modal-body">
                        <div id="captcha-val"></div>
                    </div>
                </div>
            </div>
        </div>
   
      </div>
      
    </div>

  </div>
</div>

</div>
    <script src="assets/longbow.slidercaptcha.js"></script>
    <script>
        document.getElementById("signInBtn").addEventListener("click", signInValidation);

        function signInValidation() {
          LogInBtn = document.getElementById("signInBtn")
          email = document.getElementById("inputEmail")
          password = document.getElementById("inputPassword")
          customError = document.getElementById("customError")
          if(email.value.length > 0 && password.value.length > 0){
            LogInBtn.setAttribute("data-target", "#myModallogin");
          }
          else{
            customError.classList.remove('hide');
          }
        }

        var captcha = sliderCaptcha({
            id: 'captcha-val',
            setSrc: function () {
                return 'assets/Pic' + Math.round(Math.random() * 4) + '.jpg';
            },
            onSuccess: function () { 
                var handler = setTimeout(function () {
                    $('#new_identity').submit()
                }, 500);
            }
        });
        
    </script>
    <style>
        .hide{
            display: none;
        }
    </style>