
<footer class="container-fluid">
  <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <h4>About Us</h4>
          <ul>
            <li><a href="#">Become a Vendor</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Our Blog</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="Axios-Exchange-Privacy-Policy.pdf">Privacy Policy</a></li>
            <li><a href="Terms-and-condition.pdf">Terms &amp; Conditions </a></li>

          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <h4>Support</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Support Center</a></li>
            <li><a href="#">Submit a request</a></li>
            <li><a href="#">API Documentationy</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 scol-sm-12">
          <h4>Contact</h4>
          <ul>
            <li><a href="/contactus">support@axioex.com</a></li>
            <li><a href="#">1800 00 98765</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 scol-sm-12">
          <h4>Community</h4>
          <ul class="social_media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-reddit-square"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid text-center footer-bottom">
      <p>© <%= Time.current.year %> <a href="<%= ENV['LANDING_HOST'] %>">Axioex Exchange</a> All rights reserved</p>
    </div>

</footer>

<!-- <footer class="project-services our-team-sections text-left">
  <div class="container">
    <div class="row">
       <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="footer-aboutus">
          <%= image_tag "favicon.png" %>
          <p>Cryptocurrency and financial assets in one platform. Traditional markets benefit the wealthy and the institutions, cryptocurrency benefits individuals, but with Axios Exchange, the world markets will be open to everyone</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <ul class="footer-links">
          <li>Company</li>
          <li> <a href="Terms-and-condition.pdf" target="_blank">Terms of services</a></li>
          <li> <a href="Axios-Exchange-Privacy-Policy.pdf" target="_blank">Privacy policy</a></li>
          <li><a href="mailto:support@axios.com">support@axios.com</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="copyright">
    <p>Copyright © <%= Time.current.year %>&nbsp;<a href="<%= ENV['LANDING_HOST'] %>">Axios Exchange</a>&nbsp;All Rights Reserved.</p>
  </div>
</footer> -->
