<div class="stack_coin_variable_apy">
<%= t.hidden_field :_destroy %>
<p>
    <% t.hidden_field :id %>
</p>
<p>
    <%= t.label :lot_size %>
    <%= t.number_field :lot_size, step: :any, required: true, min: 1, class:'form-control' %>
</p>
<p>
    <%= t.label :apy%>
    <%= t.number_field :apy, step: :any, required: true, min: 0, class:'form-control' %>
</p>
<%= link_to "Remove", 'javascript:void(0)', class: "remove_fields" %>
</div>