<section id="home">
  <div class="container-fluid">
    <div class="row login">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="panelpanel-defaultcreate">
            <h2 class='login_title text-center'>Create a free account</h2>
          <div align="center">
            <% if @identity && @identity.errors.any? %>
              <div class="flash-message">
                <div class="alert alert-dismissable alert-danger">
                  <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times</button>
                  <p><i class="fa fa-info-circle"></i>
                    <span><%= @identity.errors.full_messages.first %></span>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
          <!-- <a href="/"><%= image_tag "favicon.png", :class => "authLogo" %></a> -->
          <!-- <hr> -->
          <%= form_for @identity, :url => '/auth/identity/register', html: { class: 'form-signin' } do |f| %>
            <span id="reauth-email" class="reauth-email"></span>
            <p class="input_title">Name</p>
            <%= f.text_field :name, name: 'name', autofocus: 'true', class: 'form-control', id: "inputName", required: true, placeholder: t('simple_form.placeholders.session.name') %>
            <p class="input_title">Country</p>
            <%= hidden_field_tag 'country', @identity.country, id: 'countryVal' %>
            <%= country_select('user', 'country', {include_blank: 'Select Country', selected: @identity.country},
                                                               {class: 'form-control', prompt: 'Select Country', required: true, id: "inputCountry"}) %>
            <p class="input_title">Phone Number</p>
            <%= text_field_tag 'phone_number', @identity.phone_number, required: true, class: 'form-control', id: "inputPhoneNo", required: true, placeholder: t('simple_form.placeholders.session.ohone_no') %>
            <p class="input_title">E-Mail Address</p>
            <%= f.email_field :email, name: 'email', autofocus: 'true', class: 'form-control', id: "inputEmail", required: true, placeholder: t('simple_form.placeholders.session.email') %>
            <p class="input_title">Password</p>
            <%= f.password_field :password, name: 'password', class: 'form-control', id: "inputPassword", required: true, placeholder: 'Password' %>
            <p class="input_title">Confirm Password</p>
            <%= f.password_field :password_confirmation, name: 'password_confirmation', class: 'form-control', id: "inputConfirmPassword", required: true, placeholder: 'Confirm Password' %>
            <button class="btn btn-theme-primary w-100 mt-3" type="submit">Next</button>
          <% end %>
          <div class="form-group ">
            <p>Already have an account? <a href="<%= signin_path %>">Login</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>