<table class='table table-condensed table-hover farm_table'>
<tr>
    <th class="font-14">Id</th>
    <th class="font-14">Currency</th>
    <th class="font-14">Invested Amount</th>
    <th class="font-14">Duration</th>
    <th class="font-14">Staking Type</th> 
    <th class="font-14">Apy</th>

    <th class="font-14">State</th>
    <th class="font-14">Redeem</th>
    <th class="font-14">Action</th>
</tr>
<% @member_stake_coins.each_with_index do |member_stake_coin, index|%>
<% stake_coin = member_stake_coin.stake_coin %>
    <tr>
        <td><%= index + 1 %></td>
        <td><%= stake_coin.currency %></td>
        <td><%=member_stake_coin.amount %></td>
        <%if(stake_coin.is_flexible)%>
        <td>-</td>
            <td>Flexible</td>
        <%else%>
        <td><%= stake_coin.duration %></td>
            <td>Locked</td>  
        <%end%>
        <td><%=stake_coin.current_variable_apy.apy%></td>
        <td><%= member_stake_coin.aasm_state%></td>
            <%if(stake_coin.is_flexible && member_stake_coin.accepted?)%>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target=<%="#exampleModal#{member_stake_coin.id}"%>>Redeem

</button></td>
<div class="modal fade" id=<%="exampleModal#{member_stake_coin.id}"%> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Redeem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <h3>Are You Sure?</h3>
            <%= form_for([member_stake_coin]) do |f| %>
                <p><%=f.number_field :id, type: :hidden%></p>
                
      </div>
      <div class="modal-footer">
        <div class="col-6">
            <div class="input-customize">
                <%= f.submit %>
            </div>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
        </div>
            <% end %>
      </div>
    </div>
  </div>
</div>
            <% else %>
              <td>-</td>
<%end%>
<td><%=link_to "Interest Credit History", member_stake_coin_credit_histories_path(member_stake_coin_id: member_stake_coin.id), class:'history' %></td>
    </tr>
<% end %>
</table>
<style type="text/css">
    div#guide{
        display: none;
    }
    div#content{
        width: 100%;
        border-left: none!important;
    }
    .history {
        color: #000 !important;
        background-color: #54d8df;
        border-radius: 4px;
        font-size: 13px;
        padding: 8px 20px;
        border: 1px solid #54d8df;
        transition: all 0.4s ease-in-out;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 15px;
        float: left;
        width: 100%;
        text-align: center;
    }
    .font-14{
            font-size: 14px;
    }
    .panel-heading {
        display: none;
        border-bottom: none;
    }
    h5#exampleModalLabel {
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
    }
    .input-customize input {
        box-shadow: none;
        background-color: #27a6ad;
        color: #ffffff;
        border: 1px solid #27a6ad;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
    }
    .btn-close {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
    }
</style>

<script type="text/javascript">
    $('.input-customize input').val('Confirm')
</script>