<!doctype html>
<html>
  <head lang="en">
    <title>Gwl</title>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles included -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="icon" href="<%=image_path('favicon.png')%>" type="image/x-icon">
    <link rel="shortcut" type="imges/png" href="<%=image_path('favicon.png')%>">   
    <%= stylesheet_link_tag "empty" %>
    <link rel="stylesheet" href="assets/slidercaptcha.css"> 
    <link rel="stylesheet" href="assets/modal.css"> 
    <%= csrf_meta_tags %>
    <link rel="stylesheet" src="assets/mailer_form.scss">
  </head>
  <body>
   <%= render 'shared/empty_header' %>
    
    <%= yield %>

    <!-- scripts included -->
    <%= javascript_include_tag "empty" %>
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
    <script>
      // window.onscroll = function() { myFunction() };
      // var header = document.getElementById("head-nav");
      // var sticky = header.offsetTop;

      // function myFunction() {
      //     if (window.pageYOffset > sticky) {
      //         header.classList.add("sticky");
      //     } else {
      //         header.classList.remove("sticky");
      //     }
      // }



      $(document).ready(function(){
          $('.btn-close-custom').click(function(){
              // $('#myModal').css('display','none');
              // $('.modal-backdrop.show').css('opacity','0');
              // $('.modal-backdrop').css('position','unset');
              // $('#myModal').removeClass('show');
              $('body').css('padding', '0');
          });
          // $('#login-secure').click(function(){
          //     // $('#myModal').css('display','block');
          //     // $('.modal-backdrop.show').css('opacity','0.5');
          //     // $('.modal-backdrop').css('position','fixed');
          //     //$('#myModal').removeClass('show');
          // });
        });
    </script>
  </body>
</html>